<script type='text/javascript'>
$(function() {
  Dashing.widget_base_dimensions = [370, 340]
  Dashing.numColumns = 5
});
</script>

<% content_for(:title) { "LingSync" } %>
<div class="gridster">
  <ul>
  
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image="/lingsync.png" data-title="LingSync" style="background-color:#74C2E1;"></div>
    </li>
  
    <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="activity" data-view="Activity" data-title="Server Events" style="background-color:#96bf48;"></div>
    </li>
    
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="fielddb_commits" data-view="Commits" data-title="LingSync GitHub Commits"></div>
    </li>
    
    <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="time" data-view="Clock"></div>
    </li>
    
    <li data-row="2" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="people_that_rock" data-view="Text" data-title="People that Rock"></div>
    </li>
    
    <li data-row="2" data-col="3" data-sizex="3" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Comments" style="background-color:#ff9618;" data-moreinfo="Tweets tagged with #opensource"></div>
      <i class="icon-twitter icon-background"></i>
    </li>
    
    <li data-row="3" data-col="3" data-sizex="3" data-sizey="1">
      <div data-id="github_user_repos_forks" data-view="List" data-title="Number of Forks of our GitHub Repos"></div>
    </li>
  </ul>
</div>