// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #dc5945;
$title-color:       rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-fielddbstats styles
// ----------------------------------------------------------------------------
.widget-fielddbstats {

  background-color: $background-color;
  font-size: 30px;
  
  .title {
    color: $title-color;
  }
  
  .app_name {
  	font-weight: 700;
  	font-style: italic;
  }
  
  h3 {
  	font-size: 35px;
  }

}
